{% extends "base.html" %}
{% block content %}
    

        <div class="header">
            <h1>Admin Controls</h1>
            
            <div class="dropdown">
              <button class="dropbtn" style="z-index: 2">Dropdown</button>
              <div class="dropdown-content">
                  <a href="test.html">Link 1</a>
                  <a href="test.html">Link 2</a>
                  <a href="test.html">Link 3</a>
            </div>
        </div>
        
        </div>
        
        <link rel="stylesheet" href="C:\Users\Hiranya\PycharmProjects\App\static\admin.css">
        
        <div class="buttons">
            
            <a href="/new_item" class="button button1"><b>Items</b></a>
            <a href="/new_user" class="button button2"><b>Users</b></a>
            <a href="test.html" class="button button3"><b>Loan</b></a>
            
        </div>
        
{% endblock %}